@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  color: #1C1C1C;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  line-height: 180%;
}

dl dt {
  width: 20%;
  font-weight: 600;
}

dl dd {
  width: 80%;
}

a.button {
  display: block;
  margin: 0 auto;
  padding: 0.6em 0.8em;
  width: fit-content;
  text-align: center;
  color: #1C1C1C;
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
  line-height: 100%;
  border: 0.15em solid #1C1C1C;
}

a.button:hover {
  background-color: #1C1C1C;
  color: #FCFCFC;
}

a.button:hover span {
  color: #FCFCFC;
}

span.no-break {
  display: inline-block;
}

h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 2em;
}

html {
  width: 100%;
}

body {
  width: 100%;
  background-color: #FCFCFC;
  padding-bottom: 4em;
}

.colorful {
  height: 1em;
  display: -webkit-flex;
  display: flex;
}

.colorful span {
  width: 12.5%;
  height: 100%;
  margin: 0 0.2em;
}

.top {
  text-align: center;
  margin: 2em 0 1em 0;
  padding: 2em 0;
  background-color: #EFDED7;
}

.top .book-copy {
  font-size: xx-large;
  font-weight: 700;
  padding: 0 1em;
  margin: 0;
}

.top .book {
  margin-top: 2em;
}

.top .book-cover {
  display: inline-block;
  width: fit-content;
}

.top .book-cover img {
  width: 300px;
  max-width: 100%;
}

.top .book-details {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  padding: 0 30px;
  width: fit-content;
  max-width: 440px;
}

.top .book-details h1 {
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1em;
}

.container {
  max-width: 840px;
  margin: 1em auto;
}

.accordion .toggle {
  display: none;
}

.accordion .title h2 {
  color: #FCFCFC;
  background-color: #606060;
  padding: 0.2em 0;
}

.accordion .title {
  cursor: pointer;
  position: relative;
}

.accordion .title::after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 4px solid #FCFCFC;
  border-right: 4px solid #FCFCFC;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(135deg);
}

.accordion .toggle:checked+.title::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  border: #606060 2px solid;
  border-top: none;
  transition: max-height 1.0s ease;
}

.accordion .toggle:checked+.title+.content {
  max-height: 5000px;
  border-top: #606060 2px solid;
  transition: max-height 1.0s ease;
}

.accordion .content .inner {
  margin: 4em;
}

@media (max-width:800px) {
  .accordion .content .inner {
    margin: 2em 1em;
  }
}

.features {
  counter-reset: feature-counter;
  margin-bottom: 6em;
}

.features h3:before {
  display: inline-block;
  counter-increment: feature-counter;
  content: counter(feature-counter);
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: xxx-large;
  width: 1.2em;
}

.features h3 {
  font-size: x-large;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 0 0.2em;
  border-bottom: 0.1em solid;
  line-height: 34px;
  width: fit-content;
}

.features p {
  padding: 0 1em;
  margin-bottom: 0.5em;
  font-size: large;
}

.features p em {
  font-style: normal;
  background: linear-gradient(transparent 60%, #EFDED7 60%);
}

.toc {
  position: relative;
  counter-reset: toc-counter;
}

.toc h3 {
  position: relative;
  font-size: x-large;
  text-align: center;
}

.toc h3:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #1C1C1C;
}

.toc h3 span {
  position: relative;
  background-color: #FCFCFC;
  padding: 0 2em;
}

.toc h4 {
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: larger;
  border-left: #1C1C1C 0.8em solid;
  padding: 0.2em 0 0.2em 0.8em;
}

.toc ol {
  list-style-type: none;
  padding-left: 1.5em;
}

.toc ol li {
  line-height: 190%;
  margin: 0.5em 0;
}

.toc ol li:before {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  text-align: center;
  vertical-align: top;
  counter-increment: toc-counter;
  content: counter(toc-counter, decimal-leading-zero);
  margin-right: 0.8em;
  color: #FCFCFC;
  background-color: #606060;
  border-radius: 50%;
}

.cards {
  max-width: 876px;
  margin: 2em auto;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
}

.card {
  max-width: 250px;
  margin: 0 20px;
  margin-bottom: 2em;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #1C1C1C;
  text-decoration: none;
  background-color: #EFDED7;
  height: fit-content;
}

.card:hover {
  opacity: 0.6;
}

.card-img {
  width: 250px;
  height: 187.5px;
  background-color: #FCFCFC;
  margin-bottom: 0.6em;
}

.card-img img {
  width: 250px;
  height: 187.5px;
}

.card-title {
  font-weight: 700;
  padding: 0.4em 1em;
}

.card-body {
  padding: 0 1em;
  padding-bottom: 2em;
  line-height: 170%;
}